<%= render partial: "shared/header", locals: {categories: @categories} %>

<%= render partial: "relationships/follow_num", locals: { user: @user, followings: @followings, followers: @followers } %>

<div id="relationships_buttons_<%= @user.id %>" class="relationship_buttons relation_user_show">
  <%= render partial: "relationships/relationship", locals: { user: @user} %>
</div>

<%= render partial: "categories/category_user_show", locals: { user: @user, items: @items, favorites: nil } %>

<% if user_signed_in? %>
  <% if @user.id == current_user.id && @favorites.present? %>
    <%= render partial: "categories/category_user_show", locals: { user: @user, items: @favorites, favorites: @favorites } %>
  <% end %>
<% end %>