<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <div class='lists-left'>
      <div class="category-tag">
        <i class="fas fa-list-ul"></i><%= link_to "カテゴリーから探す", categories_path, class: "category-list" %>
        <div class="category-container hidden">
          <ul class="category-menu">
            <% categories.each_with_index do |category, i| %>
              <% if params[:id] != nil && i != 0 %>
                <li class="category-dot"><%= link_to category.name, category_path(category.id) %></li>
              <% end %>
              <% if params[:id] == nil %>
                <li class="category-dot"><%= link_to category.name, category_path(category.id) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div><i class="fas fa-tags"></i><%= link_to 'ブランドから探す', "#", class: "brand-list" %></div>
    </div>
    <div class='lists-right'>
      <% if user_signed_in? %>
      <li class="lists-right-right"><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li class="lists-right-right"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>
</header>