<%= render partial: "shared/header", locals: {categories: @categories} %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-main-box">
      <div class="left-container">
        <div class='item-img-content'>
          <div class="item-photo">
            <div class="owl-carousel">
              <div class="owl-stage-outer">
                <div class="owl-stage" style="left: 0px; width: 3240px;">
                <% @item.images.each do |image| %>
                  <div class="owl-item" style="width: 450px;">
                    <div class="owl-item-inner">
                      <span class="luminous-gallery">
                      <%= image_tag image, class: "owl-lazy"%>
                      </span>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
              <div class="owl-dots">
              <% @item.images.each do |image| %>
                <div class="owl-dot">
                  <span></span>
                  <div class="owl-dot-inner">
                  <%= image_tag image%>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
          <% if @item.order.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
        </div>
      </div>

      <div class="right-container">
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">出品者</th>
              <td class="detail-value">
                <%=link_to @item.user.nickname, user_path(@item.user_id), class: "item-user-nickname" %>
                <div id="relationships_buttons_<%= @user.id %>" class="relationship_buttons">
                  <%= render partial: "relationships/relationship", locals: { user: @user} %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="detail-item">カテゴリー</th>
              <td class="detail-value"><%= @item.category.name %></td>
            </tr>
            <tr>
              <th class="detail-item">商品の状態</th>
              <td class="detail-value"><%= @item.sales_status.name %></td>
            </tr>
            <tr>
              <th class="detail-item">配送料の負担</th>
              <td class="detail-value"><%= @item.shipping_fee.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送元の地域</th>
              <td class="detail-value"><%= @item.prefecture.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送日の目安</th>
              <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="option">
      <div class="favorite-btn">
        <div id="favorites_buttons_<%= @item.id %>">
          <%= render partial: "favorites/favorite", locals: { item: @item} %>
        </div>
      </div>

      <div class="report-btn">
        <div id="reports_buttons_<%= @item.id %>">
          <%= render partial: "reports/report", locals: { item: @item} %>
        </div>
      </div>
    </div>

    <div class="item-price-box">
      <div class="item-price-main">
        <span class="item-price">
          <%= "¥#{@item.price}" %>
      </div>
      <div class="item-price-sub">
        </span>
        <span class="item-postage">
          <%= @item.shipping_fee.name %>
        </span>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if @item.user_id == current_user.id && @item.order.nil? %>
        <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
      <% else %>
        <% unless @item.order.present? %>
        <%= link_to '購入画面に進む', item_orders_path(@item.id),class:"item-red-btn", "data-turbolinks": false %>
        <% end %>
      <% end %>
    <% end %>

  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
 
</div>

  <%= render partial: "categories/category_item_show", locals: {category: @category, items: @items, user: @user} %>
  <%= render partial: "categories/category_item_show", locals: {category: @category, items: @category_items, user: nil} %>

<%= render "shared/footer" %>
