<div class="main">
  <div class="category-show-container">
    <div class="category-show-main">
      <div class="category-show-main-header">
        <% if params[:id] == nil && category.id != 1 %>
          <h1 class="category-show-name"><%= "#{category.name}の新着商品一覧" %></h1>
        <% end %>
        <% if params[:id] != nil && category.id != 1 %>
          <h1 class="category-show-name"><%= "#{category.name}の商品一覧" %></h1>
        <% end %>
        <% if Item.where(category_id: category.id).limit(11).length == 11 && params[:action] != "show" %>
          <%= link_to category_path(category.id), class: "category-show-more" do %>
            <span class="show-more">もっと見る</span><i class="fas fa-angle-right"></i>
          <% end %>
        <% end %>
      </div>
      <ol class="category-show-name-bottom"></ol>
      <div class="category-show-items-container">
        <div class="category-show-items-main">
          <ul class="category-show-items">
            <% if params[:id] != nil %>
              <% items.each do |item| %>
                <% if item.category_id == category.id %>
                  <li class="category-show-item">
                    <div class="category-show-item-container">
                      <%= link_to item_path(item.id) do %>
                        <figure class="category-show-figure">
                          <figcaption class="category-show-figcaption">
                            <span class="category-show-item-info"><%= item.name %></span>
                            <div class="favorite-item">
                              <div id="favorites_buttons_<%= item.id %>" class="favorites_buttons">
                                <%= render partial: "favorites/favorite_item", locals: {item: item} %>
                              </div>
                            </div>
                          </figcaption>
                          <div class="category-show-item-thumbnail">
                            <span class="category-show-item-price">¥<%= item.price %></span>
                            <% if item.images.present? %>
                              <%= image_tag item.images[0] %>
                            <% end %>
                            <% if item.order.present? %>
                            <div class="item-sold-out-box">
                              <span class="item-sold-out-word">SOLD</span>
                            </div>
                            <% end %>
                          </div>
                        </figure>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
              <% else %>
              <% Item.order("created_at DESC").where(category_id: category.id).limit(10).each do |item| %>
                <% if item.category_id == category.id %>
                  <li class="category-show-item">
                    <div class="category-show-item-container">
                      <%= link_to item_path(item.id) do %>
                        <figure class="category-show-figure">
                          <figcaption class="category-show-figcaption">
                            <span class="category-show-item-info"><%= item.name %></span>
                            <div class="favorite-item">
                              <div id="favorites_buttons_<%= item.id %>" class="favorites_buttons">
                                <%= render partial: "favorites/favorite_item", locals: {item: item} %>
                              </div>
                            </div>
                          </figcaption>
                          <div class="category-show-item-thumbnail">
                            <span class="category-show-item-price">¥<%= item.price %></span>
                            <% if item.images.present? %>
                              <%= image_tag item.images[0] %>
                            <% end %>
                            <% if item.order.present? %>
                            <div class="item-sold-out-box">
                              <span class="item-sold-out-word">SOLD</span>
                            </div>
                            <% end %>
                          </div>
                        </figure>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% if params[:id] != nil %>
          <%= render partial: "categories/pagenate", locals: {items: items} %> 
        <% end %>
      </div>
    </div>
  </div>
</div>