<%= render partial: "shared/header", locals: {categories: @categories} %>

<div class="category-show-container">
  <div class="category-show-main">
    <h1 class="category-show-name"><%= "#{@category.name}の商品一覧" %></h1>
    <ol class="category-show-name-bottom"></ol>
    <div class="category-show-items-container">
      <div class="category-show-items-main">
        <ul class="category-show-items">
          <% @items.each do |item| %>
            <li class="category-show-item">
              <div class="category-show-item-container">
                <%= link_to item_path(item.id) do %>
                  <figure class="category-show-figure">
                    <figcaption class="category-show-figcaption">
                      <span class="category-show-item-info"><%= item.name %></span>
                      <div class="favorite-item">
                        <div id="favorites_buttons_<%= item.id %>" class="favorites_buttons">
                          <%= render partial: "favorites/favorite_item", locals: {item: item} %>
                        </div>
                      </div>
                    </figcaption>
                    <div class="category-show-item-thumbnail">
                      <span class="category-show-item-price">¥<%= item.price %></span>
                      <%= image_tag item.images[0] %>
                    </div>
                  </figure>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="category-show-btn-container">
        <div class="category-show-btn-main">
          <div class="category-show-backbtn">
            <a href="#" class="backbtn-a">
              <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="#" class="backbtn-a">
              <i class="fas fa-angle-left"></i>
            </a>
          </div>
          <div class="category-show-item-pagebtn">
            <a href="#" class="pagebtn-a"></a>
          </div>
          <div class="category-show-nextbtn">
            <a href="#" class="nextbtn-a">
              <i class="fas fa-angle-right"></i>
            </a>
            <a href="#" class="nextbtn-a">
              <i class="fas fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>